@model ProjectBlokker.Models.Afspraak

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Afspraak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AfspraakDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AfspraakDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AfspraakTijd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AfspraakTijd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nieuwsbrief)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nieuwsbrief)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrouwDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrouwDatum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
