@model IEnumerable<ProjectBlokker.Models.Afspraak>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AfspraakDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AfspraakTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nieuwsbrief)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrouwDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AfspraakDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AfspraakTijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nieuwsbrief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrouwDatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
