@model ProjectBlokker.ViewModels.DressfinderIndex

@{
    ViewData["Title"] = "Dressfinder";
}


<div class="row panel-dressfinder">
    @Html.Partial("PartialLayout2")

    <div class="row welcome top-space-large bottom-space">
        <div class="row text-center text-white">
            <div class="col-md-12">
                <h1 class="imageback fontsize-120  top-space-backgroundtext">Dressfinder</h1>
                <h3 class="imagefrontz fontsize-28">Opzoek naar de perfecte jurk</h3>
                <h2 class="text-uppercase text-white text-bold fontsize-32">Van begin tot eind kunnen wij je helpen</h2>
            </div>
        </div>
    </div>
</div>

<div class="row panel-2">
    <form method="post" id="dress-form">
        <div class="row style">
            <div class="col-md-1">

            </div>
            <div class="col-md-3">

                <div class="sidebarwidth">
                    <h3 class="text-bold">Categorieën:</h3>

                    @foreach (var item in ViewBag.categorieen) //categorie
                    {
                        <a href="/dressfinder/index/@item.CategorieID"><p class="bg-warning categoryitem">@item.Naam</p></a>
                    }

                    <a href="/dressfinder/index"><p class="bg-warning categoryitem">Alle jurken bekijken</p></a>

                    <p class="text-bold" style="line-height: 1px; padding-top: 20px;">Filter op:</p>
                    <div class="devider"></div>
                    <div class="panel-group panel-search">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a>Merk</a>
                                </h4>
                            </div>
                            <div class="devider"></div>
                            <div id="collapse2" class="panel-collapse">
                                <div class="panel-body">
                                    @foreach (var item in ViewBag.merken) //merk
                                    {
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="roundedOne">
                                                    <input type="checkbox" value="@item.MerkID" class="roundedOneinput" id="merk_@item.Naam" name="merk" />
                                                    <label for="merk_@item.Naam"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <label for="merk_@item.Naam">@item.Naam</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="devider"></div>
                    <div class="panel-group panel-search">
                        <div class="panel panel-default">   
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a>Stijl Jurk</a>
                                </h4>
                            </div>
                            <div class="devider"></div>
                            <div id="collapse2" class="panel-collapse">
                                <div class="panel-body">
                                    @foreach (var item in ViewBag.stijlen) //stijl
                                    {
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="roundedOne">
                                                    <input type="checkbox" value="@item.StijlID" class="roundedOneinput" id="stijl_@item.Naam" name="stijl" />
                                                    <label for="stijl_@item.Naam"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <label for="stijl_@item.Naam">@item.Naam</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="devider"></div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a>Prijs</a>
                                </h4>
                            </div>
                            <div class="devider"></div>
                            <div id="collapse2" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" id="maxprijs" value="@ViewBag.maxprijs" />

                                            <div id="slider"></div>
                                            <div id="min"></div>
                                            <div id="max"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="devider"></div>
                            </div>
                        </div>
                    </div>

                    <p class="text-bold" style="line-height: 1px; padding-top: 20px;">Filters verfijnen:</p>
                    <div class="devider"></div>

                    <div class="panel-group panel-search">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a>Neklijn</a>
                                </h4>
                            </div>
                            <div class="devider"></div>
                            <div id="collapse2" class="panel-collapse">
                                <div class="panel-body">
                                    @foreach (var item in ViewBag.neklijnen) //categorie
                                    {
                                        <input type="checkbox" id="neklijn_@item.Naam" name="neklijn" value="@item.NeklijnID">
                                        <label for="neklijn_@item.Naam">@item.Naam</label><br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="devider"></div>
                    <div class="panel-group panel-search">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a>Silhouette</a>
                                </h4>
                            </div>
                            <div class="devider"></div>
                            <div id="collapse2" class="panel-collapse">
                                <div class="panel-body">
                                    @foreach (var item in ViewBag.silhouette) //categorie
                                    {
                                        <input type="checkbox" id="silhouette_@item.Naam" name="silhouette" value="@item.SilhouetteID">
                                        <label for="silhouette_@item.Naam">@item.Naam</label><br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="devider"></div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a>Kleur</a>
                                </h4>
                            </div>
                            <div class="devider"></div>
                            <div id="collapse2" class="panel-collapse">
                                <div class="panel-body">
                                    @foreach (var item in ViewBag.kleuren) //categorie
                                    {
                                        <input type="checkbox" id="kleur_@item.Naam" name="kleur" value="@item.KleurID">
                                        <label for="kleur_@item.Naam">@item.Naam</label><br />
                                    }
                                </div>
                                <div class="devider"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-8">
                <select name="sort">
                    <option value="1">Prijs Hoog / Laag</option>
                    <option value="2">Prijs Laag / Hoog</option>
                </select>

                <div id="dressfinder-dres" class="d-flex">
                    @foreach (var item in ViewBag.jurken) // jurken laten zien
                    {
                        <div class="dress-item">
                            <a href="/dressfinder/jurk/@item.JurkID">
                                <img alt="jurk" src="/images/jurk/@item.image1_location" />
                                <b>@item.artikel.Naam</b>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
        <input type="hidden" name="min" id="minvalue" />
        <input type="hidden" name="max" id="maxvalue" />
        @if (ViewBag.categorie > 0)
        {
            <input type="hidden" value="@ViewBag.categorie" name="id" />
        }
    </form>

</div>

<div class="row">
    <img class="img-responsive" src="~/images/bottom-dressfinder.png" />
</div>






