@model ProjectBlokker.Models.Jurk


    @{
        ViewData["Title"] = "Jurk";
    }

    <div class="row panel-2">
        @Html.Partial("PartialLayout2")
    </div>

    <div class="row panel-2">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">

                <div style="padding-top: 50px;"></div>
                <div class="col-md-4">

                    <div class="row">
                        <a href="/Dressfinder/Index">
                            <div class="col-md-3 padding-0" style="padding-left: 7%">
                                <img src="~/images/Arrowlinks.png" class="img-responsive" alt="Jurk Foto">
                            </div>
                            <div class="col-md-9 padding-0" style="line-height: 25px;">
                                <p style="text-decoration: underline; color: black;">Terug naar overzicht</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-8"></div>
            </div>

            <div class="row" style="padding-top: 5%;">
                <div class="col-md-3">
                    <div class="">
                        @if (Model.image1_location != null)
                        {
                            <a data-toggle="modal" data-target="#foto1">
                                <div class="bottom-space-small" style="height: 220px; overflow: hidden;">
                                    <img src="~/images/jurk/@Model.image1_location" style="width: 100%;" alt="Jurk Foto">
                                </div>
                            </a>
                        }

                        @if (Model.image2_location != null)
                        {
                            <a data-toggle="modal" data-target="#foto2">
                                <div class="bottom-space-small" style="height: 220px; overflow: hidden;">
                                    <img src="~/images/jurk/@Model.image2_location" style="width: 100%;" alt="Jurk Foto">
                                </div>
                            </a>
                        }

                        @if (Model.image3_location != null)
                        {
                            <a data-toggle="modal" data-target="#foto3">
                                <div class="bottom-space-small" style="height: 220px; overflow: hidden;">
                                    <img src="~/images/jurk/@Model.image3_location" style="width: 100%;" alt="Jurk foto">
                                </div>
                            </a>
                        }
                        </div>
                </div>

                <!-- Modal 1-->
                <div id="foto1" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Dress Foto 1</h4>
                            </div>
                            <div class="modal-body">
                                <img src="~/images/jurk/@Model.image1_location" style="width: 100%;" alt="Foto 1">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal 2-->
                <div id="foto2" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Dress Foto 2</h4>
                            </div>
                            <div class="modal-body">
                                <img src="~/images/jurk/@Model.image2_location" style="width: 100%;" alt="Foto 1">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal 3-->
                <div id="foto3" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Dress Foto 3</h4>
                            </div>
                            <div class="modal-body">
                                <img src="~/images/jurk/@Model.image3_location" style="width: 100%;" alt="Foto 1">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jurkmainimg">
                        <img src="~/images/jurk/@Model.image1_location" style="width: 467px; height:700px;" class="" alt="Jurk">
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="text-bold"> @Model.artikel.Naam </h3>
                    <h4>Artikel nr. @Model.artikel.ArtikelID</h4>
                    <p style="padding-top: 10%;"> @Model.Omschrijving </p>
                    <p style="padding-top: 10%;">Merk: <span class="text-pink"> @Model.merk.Naam </span></p>
                    <p>Kenmerken: <span class="text-pink"> @Model.stijl.Naam, @Model.silhouette.Naam, @Model.neklijn.Naam, @Model.kleur.Naam</span></p>
                    <p>Prijsindicatie: @Model.Prijs </p>
                    <p>
                        Beschikbare kleuren:

                        @foreach (Jurk jurk in Model.artikel.Jurken)
                        {
                            if (jurk.kleur != null)
                            {
                                <a href="~/dressfinder/jurk/@jurk.JurkID">@jurk.kleur.Naam</a>
                            }
                        }
                    </p>

                    <p>Kom de jurk passen!</p>
                    <a href="~/Afspraak/Index" class="btn btn-pink text-bold" role="button">Pasafspraak maken</a>
                    <div class="bottom-space-small"></div>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

    </div>

    <div class="row">
        <img class="img-responsive" src="~/images/bottom-dressfinder.png" />
    </div>
