@model ProjectBlokker.Models.Jurk

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jurk</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.artikel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.artikel.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kleur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kleur.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.merk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.merk.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.neklijn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.neklijn.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.silhouette)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.silhouette.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stijl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stijl.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image1_location)
        </dt>
        <dd>
            <img src="~/images/jurk/" height="40" width="40"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image2_location)
        </dt>
        <dd>
            <img src="~/images/jurk/" height="40" width="40" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image3_location)
        </dt>
        <dd>
            <img src="~/images/jurk/" height="40" width="40" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JurkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
