@model ProjectBlokker.Models.Jurk

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jurk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.artikel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.artikel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KleurID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KleurID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerkID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerkID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeklijnID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeklijnID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SilhouetteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SilhouetteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StijlID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StijlID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JurkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
