@model IEnumerable<ProjectBlokker.Models.Jurk>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.artikel.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categorie.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kleur.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.merk.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.neklijn.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.silhouette.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stijl.Naam)
            </th>
                    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categorie.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kleur.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merk.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.neklijn.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.silhouette.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stijl.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JurkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JurkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JurkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
