@model IEnumerable<ProjectBlokker.Models.Jurk>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategorieID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KleurID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerkID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeklijnID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SilhouetteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StijlID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategorieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KleurID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeklijnID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilhouetteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StijlID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JurkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JurkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JurkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
